*box-sizing: border-box;

html {
  font-size: 10px;
}
html,
body {
  width: 100%;
}

.features__container {
    background-image: url("/img/pug-801826_1920.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    padding: 3rem;
}

.features__item {
  display: flex;
  width: 80%;
  height: 300px;
  background-color: white;
  border: 1px solid #57646d;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 2rem;
  margin-top: 5rem;
}

.features__item:hover {
  background-color: #1e9bae;
  transition: 0.3s;
}

.features__icon {
  float: left;
  margin: 10px;
}

.features__paragraph {
  float: right;
  color: black;
  font-size: 2rem;
  text-align: center;
  margin: 3rem;
}

@media screen and (max-width: 768px) {
    .features__icon{
        width: 20%;
    }
  
    .features__paragraph {
    font-size: 1.2rem;
  }
}
