.form {
  display: flex;
  max-width: 100vw;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #989b9e;
  color: #203e4a;
}
.form form {
  display: flex;
  max-width: 100vw;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tittle3 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  margin: 5rem 0;
}

.form__tittle {
  text-align: center;
  width: 30%;
  font-size: 2.5rem;
  font-weight: bold;
}
.form__field {
  height: 10%;
  width: 50%;
  margin: 2rem;
  font-size: 2.8rem;
  border: 2px solid #1b1b1b;
  background-color: #989b9e;
  color: white;
}
.form__field:focus {
  border: 2px solid #203e4a;
  outline-color: #203e4a;
}

.separator {
  display: block;
  width: 80%;
  height: 2px;
  background-color: #203e4a;
  margin: 4rem auto;
}
.form__submit {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin: 3rem 0 2rem;
  color: #203e4a;
  font-weight: bold;
  border: 3px solid #203e4a;
  background-color: transparent;
  letter-spacing: 0.3rem;
  transition: 0.3s linear;
}
.form__submit:hover {
  background-color: #203e4a;
  color: #1b1b1b;
}

#form__popup {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  background-color: white;
  opacity: 0.75;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .tittle3 {
    margin: 1rem;
    text-align: center;
    font-size: 2.5rem;
  }

  .form__tittle {
    font-size: 1.5rem;
  }

  .form__submit {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
