* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 100vw;
  height: 100vh;
  background-image: linear-gradient(315deg, #cf9c63 4%, #203e4a 103%, #58646d 60%, #097988 78%);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__text {
  display: flex;
  grid-area: 2 / 2 / 3 / 5;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tittle1 {
  color: #cf9c63;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.tittle2 {
  color: #1b1b1b;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.cta {
  display: flex;
  grid-area: 3 / 2 / 4 / 5;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate(50%, 50%);
}

.cta__link {
  color: #cf9c63;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  border: 2px solid #cf9c63;
  padding: 1rem 2rem;
  transition: 0.5s;
  animation: shakes 3s linear infinite both;
  position: absolute;
  top: 0;
  left: 0;
}

.cta__link:hover {
  color: #1b1b1b;
  background-color: #cf9c63;
}

@keyframes shakes {
  0% {
    left: 0;
  }
  90% {
    left: 0;
  }
  91% {
    left: -10%;
  }
  92% {
    left: 10%;
  }
  93% {
    left: -10%;
  }
  94% {
    left: 10%;
  }
  95% {
    left: -10%;
  }
  96% {
    left: 10%;
  }
  97% {
    left: -10%;
  }
  98% {
    left: 10%;
  }
  99% {
    left: -10%;
  }
  100% {
    left: 0;
  }
}

.hero__img {
  width: 90%;
  height: auto;
  grid-area: 4 / 1 / 7 / 6;
  align-self: flex-end;
  justify-self: end;
}

.img {
  width: 90%;
  height: auto;
}

@media (min-width: 768px) {
  .tittle1 {
    font-size: 4rem;
  }
  .tittle2 {
    font-size: 3.5rem;
  }
  .cta__link {
    font-size: 3.5rem;
  }
  .hero__img {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .tittle1 {
    font-size: 6rem;
  }
  .tittle2 {
    font-size: 4.5rem;
  }
  .cta__link {
    font-size: 4.5rem;
  }
}

@media (min-width: 1280px) {
  .hero__text {
    grid-area: 2 / 1 / 5 / 3;
  }
  .cta {
    grid-area: 5 / 1 / 6 / 3;
  }
  .hero__img {
    grid-area: 1 / 3 / 7 / 6;
    width: 95%;
  }
  .img {
    width: 95%;
  }
}
