* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
}

.hero {
  display: flex;
  height: 100vh;
  max-width: 100vw;
  background-image: url(../img/pattern.png);
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__rgb {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 62, 74, 0.5);
}

.hero__img {
  width: auto;
  height: 100%;
  order: 1;
}

.hero__img > .img {
  width: auto;
  height: 100%;
}

.hero__text {
  display: flex;
  width: 65vw;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.tittle1 {
  color: #cf9c63;
  font-size: 7rem;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding: 1rem 3rem 2rem;
}

.tittle2 {
  color: #1b1b1b;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding: 1rem 0 6rem;
}

.cta__link {
  color: #cf9c63;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #cf9c63;
  padding: 1rem 3rem;
  margin: 2rem 0;
  transition: 0.5s;
}

.cta__link:hover {
  color: #1b1b1b;
  background-color: #cf9c63;
}
