.container {
  display: grid;
  grid-template-columns:40px 1fr 1fr 1fr 1fr 40px;
  grid-template-rows: 1fr;
  grid-template-areas: ". daria jakub kamil jerzy ."
  
}

.container--cards {
    background-color: #eecccc;
    padding: 20px;
  }

  .card {
    height: 100%;
    font-size: 5rem;
    padding: 2rem;
    border-radius: 2px;
  }

.card--1  {
    background-image: linear-gradient(120deg, #f9f8fa 0%, #f3f3f5 100%);
  }
  .card--2 {
    background-image: linear-gradient(120deg, #f9f8fa 0%, #f3f3f5 100%);
  }
  .card--3 {
    background-image: linear-gradient(120deg, #f9f8fa 0%, #f3f3f5 100%);
  }
  .card--4 {
    background-image: linear-gradient(120deg, #f9f8fa 0%, #f3f3f5 100%);
  
  }

  .item--1 {
  grid-area: daria;
  padding: .5em;
  min-width: 200px;
  
  }
  
  .item--2 {
    grid-area: jakub;
    padding: .5em;
    min-width: 200px;
    }
  
    .item--3 {
      grid-area: kamil;
      padding: .5em;
      min-width: 200px;
      }
  
      .item--4 {
        grid-area: jerzy;
        padding: .5em;
        min-width: 200px;
       
        }


h2.name {
  white-space:nowrap;
  height: 100px;
  min-height: 150px;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: left;
  padding: 0.9rem;
  font-weight: bold;
  letter-spacing: 5px;
  word-wrap: break-word;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2.name2 {
  white-space:nowrap;
  height: 100px;
  min-height: 150px;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: left;
  padding: 0.9rem;
  font-weight: bold;
  letter-spacing: 5px;
  word-wrap: break-word;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2. :after {
  
}

.quote {
  font-style: italic;
  padding: 0.9rem;
  width: 60%;
  font-size: 1.5rem;
  text-align: left;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {
  
  padding: 0;
  width: 50px;
}

.social img {
  padding: 0.9rem;
  height: 35px;
  width: 35x;
  float: left;
}

.head {
  width:120px; 
  height:120px;
}

.logo {
  float: right;
  width:50px; 
  height:50px;
}






/* stylowa dla reszty */
@media only screen and (max-width: 1022px) {
h2.name {
    font-size: 17px;
    min-height: 80px;
  }
}

/* specjalna stylowa dla darii */
@media only screen and (max-width: 1222px) {    
  h2.name2 {
    white-space: nowrap; 
    width: 224px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    }
  }

  @media only screen and (max-width: 1125px) {    
    h2.name2 {
      white-space: nowrap; 
      width: 200px; 
      overflow: hidden;
      text-overflow: ellipsis; 
      }
    }

    @media only screen and (max-width: 1022px) {
      h2.name2 {
          font-size: 17px;
          min-height: 80px;
        }
      }


      /* dziekuje */


@media only screen and (max-width: 1022px) {
  .quote {
      font-size: 11px;
    }
  }

  @media only screen and (max-width: 1022px) {
    .quote {
        display: none;
      }
    }
  