.container {
  display: grid;
  grid-template-columns:100px 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: 1fr;
  grid-template-areas: ". daria jakub kamil jerzy ."
  
}

.container--cards {
    background-color: #f5eeee;
    padding: 20px;
  }

  .card {
    height: 100%;
    font-size: 5rem;
    padding: 2rem;
    border-radius: 20px 2px 20px 2px;
    max-width: 300px;
  }

.card--1  {
    background-image: linear-gradient(120deg, #ffffff 0%, #fbfbfb 100%);
  }
  .card--2 {
    background-image: linear-gradient(120deg, #ffffff 0%, #fbfbfb 100%);
  }
  .card--3 {
    background-image: linear-gradient(120deg, #ffffff 0%, #fbfbfb 100%);
  }
  .card--4 {
    background-image: linear-gradient(120deg, #ffffff 0%, #fbfbfb 100%);
  
  }

  .item--1 {
  grid-area: daria;
  padding: .5em;
  min-width: 200px;
  
  }
  
  .item--2 {
    grid-area: jakub;
    padding: .5em;
    min-width: 200px;
    }
  
    .item--3 {
      grid-area: kamil;
      padding: .5em;
      min-width: 200px;
      }
  
      .item--4 {
        grid-area: jerzy;
        padding: .5em;
        min-width: 200px;
       
        }


h2.name {
  color: #171717;
  white-space:nowrap;
  height: 100px;
  min-height: 150px;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: left;
  padding: 0.9rem;
  font-weight: bold;
  letter-spacing: 3px;
  word-wrap: break-word;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2.name2 {
  color: #171717;
  white-space:nowrap;
  height: 100px;
  min-height: 150px;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: left;
  padding: 0.9rem;
  font-weight: bold;
  letter-spacing: 3px;
  word-wrap: break-word;
    margin-top: 1rem;
  margin-bottom: 1rem;
}

h2. :after {
  
}

.quote {
  color: #171717;
  font-style: italic;
  padding: 0.9rem;
  width: 60%;
  font-size: 1.5rem;
  text-align: left;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {
  
  padding: 0;
  width: 50px;
}

.social img {
  padding: 0.9rem;
  height: 35px;
  width: 35x;
  float: left;
}

.head {
  width:120px; 
  height:120px;
}

.logo {
  float: right;
  width:50px; 
  height:50px;
}

/* OVERLAY START */
.container {
  position: relative;
}

.overlay {
  height: 100%;
  font-size: 5rem;
  padding: 2rem;
  border-radius: 20px 2px 20px 2px;
  max-width: 300px;
  grid-area: daria;
  min-width: 200px;
  position: absolute;
  top: 5px;
  bottom: 0px;
  left: 5px;
  right: 0;
  height: 98%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(29, 133, 167);
}

.card:hover .overlay {
  opacity: 0.5;
}

.textoverlay {
  color: white;
  font-size: 1.1em;
  position: relative;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

/* OVERLAY END */

/* stylowa dla reszty */
@media only screen and (max-width: 1022px) {
h2.name {
    font-size: 17px;
    min-height: 80px;
  }
}

/* specjalna stylowa dla darii */
@media only screen and (max-width: 1222px) {    
  h2.name2 {
    white-space: nowrap; 
    width: 224px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    }
  }

  @media only screen and (max-width: 1125px) {    
    h2.name2 {
      white-space: nowrap; 
      width: 200px; 
      overflow: hidden;
      text-overflow: ellipsis; 
      }
    }

    @media only screen and (max-width: 1022px) {
      h2.name2 {
          font-size: 17px;
          min-height: 80px;
        }
      }


      /* dziekuje */




  @media only screen and (max-width: 1022px) {
    .quote {
        display: none;
      }
    }

    @media only screen and (max-width: 1136px) {
      .logo {
          display: none;
        }
      }
  