.container {
  display: grid;
  grid-template-columns:80px 1fr 1fr 1fr 1fr 80px;
  grid-template-rows: 1fr;
  grid-template-areas: ". daria jakub kamil jerzy ."
  
}

.container--cards {
    background-color: #eecccc;
    padding: 20px;
  }

  .card {
    height: 100%;
    font-size: 5rem;
    padding: 2rem;
    border-radius: 2px;
  }

.card--1  {
    background-image: linear-gradient(120deg, #f9f8fa 0%, #f3f3f5 100%);
  }
  .card--2 {
    background-image: linear-gradient(120deg, #f9f8fa 0%, #f3f3f5 100%);
  }
  .card--3 {
    background-image: linear-gradient(120deg, #f9f8fa 0%, #f3f3f5 100%);
  }
  .card--4 {
    background-image: linear-gradient(120deg, #f9f8fa 0%, #f3f3f5 100%);
  }

  .item--1 {
  grid-area: daria;
  padding: .5em;
  min-width: 200px;
  }
  
  .item--2 {
    grid-area: jakub;
    padding: .5em;
    min-width: 200px;
    }
  
    .item--3 {
      grid-area: kamil;
      padding: .5em;
      min-width: 200px;
      }
  
      .item--4 {
        grid-area: jerzy;
        padding: .5em;
        min-width: 200px;
        }


h2.name {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: left;
  padding: 0.9rem;
  font-weight: bold;
  letter-spacing: 5px;
  
}

.quote {
  font-style: italic;
  padding: 0.9rem;
  width: 60%;
  font-size: 1.5rem;
  text-align: left;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {
  
  padding: 0;
  width: 50px;
}

.social img {
  padding: 0.9rem;
  height: 35px;
  width: 35x;
  float: left;
}

.logo {
  width:50px; 
  height:50px;
  font-weight: bold;
}





@media only screen and (max-width: 1350px) {
h2.name {
    font-size: 17px;
  }
}


@media only screen and (max-width: 1350px) {
  .quote {
      font-size: 11px;
    }
  }