html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;

  justify-content: center;
  width: 100%;
  height: 100%;
}

.display-none {
  display: none !important;
}

.start-menu {
  position: absolute;
  width: 60%;
  min-height: 40%;
  z-index: 100;
  margin-top: 10%;
  display: flex;

}
.instruction{
  background-color: black;
  width: 40%;
  opacity: 0.8;
  border: #fff solid 5px;
  border-radius: 25px;
  padding: 10px;
  z-index: 200;
  color: whitesmoke;
}
.instruction button{
  width: 80%;
  height: 100px;
  margin: auto;
  display: block;
}

.topscore{
  background-color: black;
  width: 40%;
  opacity: 0.8;
  border: #fff solid 5px;
  border-radius: 25px;
  padding: 10px;
  z-index: 200;
  color: whitesmoke;
}

.viewport {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: lightblue;
}

.background {
  bottom: 100px;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;

}

.background1 .layer1 {
  background-image: url(_07_huge_clouds.png);
  z-index: 1;
  background-position: center;
}

.background1 .layer2 {
  background-image: url(_05_hill1.png);
  z-index: 2;
  background-position: center;

}

.background1 .layer3 {
  background-image: url(_02_trees\ and\ bushes.png);
  z-index: 3;
  background-position: center;

}

.platform {
  height: 99px;
  position: absolute;
  bottom: 0;
  display: flex;
}

.platform1 {
  background-image: url('platform01.png');
  width: 20000px;
}

.platform2 {
  background-image: url('platrorm02.png');
  width: 20000px;
}

.platform3 {
  background-image: url('platform3.png');
  width: 20000px;

}

.platform4 {
  background-image: url('platform01.png');
  width: 20000px;
}


.obstacle {
  background-image: url('cactus.png');
  bottom: 100px;
  height: 80px;
  width: 59px;
  position: absolute;
}

.character {
  height: 154px;
  width: 130px;
  background-image: url('bearbear.png');
  background-position: center;
  position: fixed;
  bottom: 100px;
  left: 30px;
  transition: 0.25s linear bottom;
}

.score {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 50px;
  background-color: #fff;
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.level {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
  height: 50px;
  background-color: #fff;
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.candy {
  background-image: url('carrot.png');
  position: absolute;
  bottom: 120px;
  width: 50px;
  height: 45px;
}