html , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.viewport{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: lightblue;
}
.platform{
    height: 100px;
    width: 5000px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: burlywood;
}
.obstacle{
    bottom: 100px;
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
}

